@media screen and (max-width: 768px) {
    .nav-top .navbar-toggle {
        background-color: transparent;
        border: none;
        font-size: var(--size-30);
        order: 2;
        color: var(--font-color-base);
    }

    .nav-top .navbar-toggle .open {
        display: none;
    }

    .nav-drop {
        display: none;
        border-top: solid 2px #F5F5F5;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    
}