nav {
    position: sticky;
}

.navbar-brand img {
    width: var(--size-150);
}

.nav-top {
    padding: var(--size-20);
    display: flex;
    justify-content: space-between;
}

.nav-top .navbar-toggle {
    background-color: transparent;
    border: none;
    font-size: var(--size-30);
    order: 2;
    color: var(--font-color-base);
}

.nav-top .navbar-toggle .open {
    display: none;
}

.nav-drop {
    display: none;
    border-top: solid 2px #F5F5F5;
    text-align: center;
}

.nav-drop ul {
    margin-bottom: var(--size-20);
}

.nav-drop ul li {
    padding: var(--size-20) 0;
}

.nav-drop ul li a {
    color: var(--font-color-base);
}

.nav-drop ul .link>a {
    color: var(--font-color-link);
}

.intro-text {
    text-align: center;
    padding: var(--size-20) 0;
}

.intro-text p {  font-size: var(--size-18);}

.black {  color: var(--black);}

header .header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .header-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--size-30);
    margin: var(--size-70) 0;
}

.header-icons img {
    width: var(--size-70);
    height: var(--size-70);
    margin: auto;
    box-shadow: 0 0 5px 1px var(--font-color-base);
    border-radius: 50%;
    padding: 0.375rem;
}

.header-icons>.part-size-icon {
    width: var(--size-50);
    height: var(--size-50);
    margin: 0;
    position: relative;
    left: var(--size-10);
}

.header-icons img:nth-child(5) {
    grid-column: 2 / 4;
}

.header-icons img:nth-child(6) {
    grid-column: 2 / 3;
}

.benefit-box {
    display: flex;
    flex-wrap: wrap;
}

button i {
    width: var(--size-30);
    font-size: var(--size-20);
}

.info-card {
    margin: var(--size-20) 0;
    border: 2px solid #EEEEEE;
    box-shadow: 0 16px 20px 7px #E0E0E0;
    padding: var(--size-30);
}

.benefit-box .info-card img {
    width: 4.063rem;
}

.benefit-box .info-card p {
    padding: var(--size-20) 0;
}

.benefit-box .info-card a {
    font-weight: 500;
}

.benefits-bottom {
    background-color: #F9FAFE;
}

.benefits-bottom .intro-text {
    padding: var(--size-50);
}

.benefits-bottom .intro-text button {
    font-size: var(--size-16);
}

.why-list {
    grid-template-columns: 100px auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--size-20);
    align-items: center;
    margin: var(--size-50) 0;
}

.why-list .why-list-item span {
    background-color: var(--font-color-link);
    border: #EDF2FE solid 30px;
    padding: 6px;
    display: inline-block;
    border-radius: 50%;
}

.pick-me-video a {
    box-shadow: 0 0 5px 1px var(--font-color-base);
    border-radius: 50%;
    color: var(--black);
    padding: var(--size-20);
    font-size: var(--size-30);
    text-align: center;
    height: var(--size-70);
    width: var(--size-70);
    background-color: var(--white);
}

.testimonial-image {
    margin-top: var(--size-20);
    margin-bottom: var(--size-100);
}

.testimonial-image .pic {
    width: 80%;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.testimonial-image .dots {
    width: 50%;
    position: relative;
    top: var(--size-100);
}
.company-testimonial {text-align: center;}

.company-testimonial img {
    width: var(--size-150);
    margin: var(--size-50) 0;
}

.title {margin: var(--size-50) 0;}

.title h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.voucher p {margin-top: 0;}

.testimonial-trust {text-align: center;}
.testimonial-trust h2 {color: #616368;}
.testimonial-trust img{
    width: var(--size-150);
    margin: var(--size-18) 14%;
}

.info-box {  margin: var(--size-40) 0;}
.info-box .info-card {padding: var(--size-40);}

.pricing-top {
    border-bottom: 1px solid var(--font-color-base);
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 30px;
}

.pricing-top h2 {
    font-size: var(--size-70);
    margin: 0 var(--size-10);
}

.pricing-bottom {}