.navbar {
    padding: var(--size-20) var(--size-20);
    display: flex;
    justify-content: space-between;
    margin: var(--size-20) 0;
}

.navbar .navbar-toggle {
    display: none;
}

.navbar-brand img {
    width: var(--size-150);
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-nav ul li {
    margin: 0 var(--size-10);
}

.navbar-nav ul li a {
    color: var(--font-color-base);
}

.navbar-nav ul .link>a {
    color: var(--font-color-link);
}

.navbar-nav .btn {
    width: 6.875rem;
    margin-left: var(--size-20);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--size-50);
}

header .header-text {
    width: 50%;
    padding-right: 150px;
}

.header-text h2 {
    font-size: var(--size-40);
    font-weight: 500;
}

.header-text p {
    font-size: var(--size-14);
    margin: var(--size-20) 0;
}

header .btn {
    margin: var(--size-10);
}

header a {
    margin: var(--size-10);
    font-weight: 500;
}

header .header-icons {
    display: grid;
    grid-template-columns: repeat(3, 7.813rem);
    grid-template-rows: repeat(3, var(--size-100));
    gap: var(--size-30);
}

.header-icons img {
    width: var(--size-70);
    height: var(--size-70);
    margin: auto;
    box-shadow: 0 0 5px 1px var(--font-color-base);
    border-radius: 50%;
    padding: 0.375rem;
}

.header-icons>.part-size-icon {
    width: var(--size-50);
    height: var(--size-50);
    margin: 0;
    position: relative;
    left: var(--size-30);
}

.header-icons img:nth-child(5) {
    grid-column: 2 / 4;
}

.header-icons img:nth-child(6) {
    grid-column: 2 / 3;
}

button i {
    width: var(--size-30);
    font-size: var(--size-20);
}

.info-card {
    margin: var(--size-20) var(--size-10);
    border: 0px solid #EEEEEE;
    box-shadow: 0 8px 12px 0px #E2E2E2;
    padding: var(--size-30);
    width: 14.125rem;
}

.info-card img {
    width: 4.063rem;
}

.info-card h3 {
    margin: 20px 0;
}

.info-card p {
    margin: var(--size-20) 0;
}

.benefits {
    margin: var(--size-100) 0;
}

.benefits .intro-text {
    text-align: center;
    margin-bottom: var(--size-40);
}

.benefit-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--size-50);
}

.benefit-box .info-card a {
    font-weight: 500;
}

.benefits-bottom {
    display: flex;
    align-items: center;
    padding-top: var(--size-100);
    background-color: #F9FAFE;
}

.benefits-bottom .intro-text h2 {
    margin-bottom: var(--size-20);
    padding: var(--size-10) var(--size-40);
    text-align: left;
    font-weight: 500;
}

.benefits-bottom .intro-text button {
    font-size: var(--size-16);
}

.pick-me .intro-text {
    text-align: center;
    margin: 0 var(--size-150);
    padding: 0 var(--size-40);
}

.pick-me .intro-text p {
    font-weight: 400;
}

.why-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--size-50) 0;
}

.why-list .dot {
    background-color: var(--font-color-link);
    border: #EDF2FE solid 23px;
    padding: 3px;
    display: inline-block;
    border-radius: 50%;
    margin: var(--size-10);
}

.why-list .line {
    width: 11.25rem;
    border-bottom: solid 3px #F4F5F9;
}

.why-list h3 {
    font-size: var(--size-14);
    font-weight: 400;
}
.pick-me-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-content {
    position: relative;
}

.centered-content img {
    display: block;
}

.centered-content a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pick-me-video a {
    box-shadow: 0 0 5px 1px var(--font-color-base);
    border-radius: 50%;
    color: var(--black);
    padding: var(--size-20);
    font-size: var(--size-30);
    text-align: center;
    height: var(--size-70);
    width: var(--size-70);
    background-color: var(--white);
}

.testimonial-image {
    margin-top: var(--size-20);
    margin-bottom: var(--size-100);
}

.testimonial-image .pic {
    width: 80%;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.testimonial-image .dots {
    width: 50%;
    position: relative;
    top: var(--size-100);
}

.company-testimonial {
    text-align: center;
}

.company-testimonial img {
    width: var(--size-150);
    margin: var(--size-50) 0;
}

.title {
    margin: var(--size-50) 0;
}

.title h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.voucher {
    margin: var(--size-50) 0;
}

.voucher p {
    margin-top: 0;
}

.testimonial-trust {
    text-align: center;
}

.testimonial-trust h2 {
    color: #616368;
    margin-bottom: var(--size-30);
}

.testimonial-trust img {
    width: var(--size-150);
    margin: var(--size-18) 14%;
}

.info-box {
    margin: var(--size-40) 0;
}

.info-box .info-card {
    padding: var(--size-40);
}

.pricing-top {
    border-bottom: 1px solid var(--font-color-base);
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 30px;
}

.pricing-top h2 {
    font-size: var(--size-70);
    margin: 0 var(--size-10);
}

.pricing-bottom {
    margin-top: var(--size-40);
}

.pricing-bottom p {
    text-align: left;
}

.pricing-bottom p.no-card {
    text-align: center;
    margin-top: var(--size-30);
}

.purchase-included .info-card {
    border: none;
    box-shadow: none;
    padding: var(--size-30);
}

.info-card h3 .btn {
    margin: var(--size-10);
    font-size: var(--size-14);
    padding: 0.125rem var(--size-10);
    background-color: #5BC6A8;
}

.hire-us {
    background-color: #243358;
    text-align: center;
    padding: var(--size-30) 0;
}

.hire-us-top {
    padding-bottom: var(--size-20);
    border-bottom: 1px solid var(--white);
}

.hire-us-top h2 {
    color: var(--white);
}

.hire-us-testimonials p.white {
    margin: var(--size-40) 0;
    font-size: var(--size-18);
}

.hire-us-testimonials .testimonial-pic img {
    border-radius: 50%;
    width: var(--size-50);
    margin: var(--size-14);
}

.hire-us-testimonials .testimonial-pic .testimonial-pic-lg {
    width: var(--size-70);
}

.hire-us-form {
    background-color: var(--white);
    border-radius: var(--size-10);
    margin-top: var(--size-40);
    padding: var(--size-40);
}

.hire-us-form .submission {
    width: 90%;
    height: var(--size-40);
    padding: var(--size-10);
    margin: var(--size-10);
    font-size: var(--size-16);
    color: var(--font-color-light);
    border: 2px solid #E6E8F3;
    border-radius: 5px;
}

#budget,
#country {
    width: 90%;
    height: var(--size-40);
    padding: 0 var(--size-10);
    margin: var(--size-10);
    font-size: var(--size-16);
    border: 2px solid #E6E8F3;
    border-radius: 5px;
}

#details {
    height: var(--size-150);
}

#receiveEmails {
    width: var(--size-30);
    height: var(--size-30);
    margin: 0;
}

.hire-us-form .checkbox-end {
    margin-bottom: var(--size-50);
}

.footer-top .contact img {
    width: var(--size-150);
}

.footer-top {
    margin: var(--size-100) 0 0 0;
    border-bottom: 2px solid #E6E8F3;
    padding-bottom: var(--size-40);
    text-align: center;
}

.footer-top h3 {
    font-size: var(--size-20);
}

.footer-top div {
    margin: var(--size-30) 0;
}

.footer-item {
    display: block;
    margin: var(--size-10);
    color: var(--font-color-dark);
    font-weight: 500;
    font-size: var(--size-18);
}

.footer-top .contact .footer-item {
    display: inline;
}

.footer-top .contact .footer-item.link {
    color: var(--font-color-link)
}

.footer-top .resources .footer-item i {
    margin-right: var(--size-10);
}

.footer-top a span.btn {
    font-size: 0.438rem;
    padding: 0.125rem;
    border-radius: 0.125rem;
    color: var(--white);
}

.footer-bottom-nav {
    text-align: center;
    margin: var(--size-40);
}

.footer-bottom-nav a {
    color: var(--font-color-dark);
    margin: 0 0.375rem;
}

.footer-socials {
    text-align: center;
}

.footer-bottom .footer-socials a i {
    font-size: var(--size-20);
    background-color: #EDF2FE;
    text-align: center;
    border-radius: 8px;
    padding: var(--size-10);
    color: var(--font-color-dark);
    margin: 0 var(--size-10);
}

.footer-bottom .footer-socials a.g i {
    background-color: var(--font-color-dark);
    color: #EDF2FE;
}

.country-choice {
    text-align: center;
}

#countrySelect {
    margin: var(--size-40) 0;
    background-color: #EDF2FE;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 12.5rem;
}

.footer-disclaimer {
    text-align: center;
}

.footer-disclaimer p {
    margin-bottom: var(--size-30);
    font-size: var(--size-16);
}